[program:redis-master]
command={{cluster_home}}/redis/bin/redis-server {{cluster_home}}/redis/redis-master.conf
user={{user_name}}
autostart=true
autorestart=false
startsecs=10
exitcodes=0
startretries=999
log_stdout=true
log_stderr=true
stdout_logfile={{log_home}}/redis/redis-sp-master.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=10
stdout_events_enabled=true
stderr_logfile={{log_home}}/redis/redis-sp-master-error.log
stderr_logfile_maxbytes=100MB
stderr_logfile_backups=10
stderr_events_enabled=true


