
{% include "supervisor-base.conf.j2" %}

{% if database == "cassandra" %}
{% include "supervisor-cassandra.conf.j2" %}

{% elif database == "neo4j" %}
{% include "supervisor-neo4j.conf.j2" %}

{% elif database == "neo4j-ha" %}
{% include "supervisor-neo4j-ha.conf.j2" %}

{% endif %}

