---
- name: Create Cassandra log and local directories
  file: path={{item}} state=directory owner={{user_name}} group={{group_name}} mode=755
  with_items:
    - "{{log_home}}/cassandra"
    - "{{cassandra_data_dir}}"
    - "{{cassandra_commitlog_dir}}"
    - "{{cassandra_saved_caches_dir}}"

- name: Fetch Cassandra package
  get_url: dest={{cluster_home}} url={{cassandra_mirror}}/{{cassandra_tarball_name}} owner={{user_name}} group={{group_name}}
  
- name: Uncompress Cassandra package
  unarchive: copy=no  dest={{cluster_home}} src="{{cluster_home}}/{{cassandra_tarball_name}}" owner={{user_name}} group={{group_name}}

- name: Remove archive
  file: path="{{cluster_home}}/{{cassandra_tarball_name}}" state=absent

- name: Rename
  command: mv {{cluster_home}}/apache-cassandra-{{cassandra_version}} {{cluster_home}}/cassandra

- name: Set Cassandra server dir
  set_fact: cassandra_server_dir="{{cluster_home}}/cassandra"

- name: Configure Cassandra properties
  template: dest="{{cassandra_server_dir}}/conf/cassandra.yaml" owner={{user_name}} group={{group_name}} src=cassandra.yaml.j2




  
