{% extends "neo4j-server.properties.template.j2" %}
{% block webserver_port %}
{{ neo4j_local_webserver_ports[2] }}
{% endblock %}
{% block webserver_https_port %}
{{ neo4j_local_webserver_https_ports[2] }}
{% endblock %}

