
{% include "supervisor-base.conf.j2" %}

{% if neo4j_deploy_ha_mode == False %}
{% include "supervisor-neo4j.conf.j2" %}

{% elif neo4j_deploy_ha_mode == True %}
{% include "supervisor-neo4j-ha.conf.j2" %}
{% endif %}

