
[program:neo4j-server]
command={{cluster_home}}/neo4j/server/bin/neo4j console
user={{user_name}}
autostart=true
autorestart=true
startsecs=10
startretries=999
stopasgroup=true
killasgroup=true
stderr_logfile={{log_home}}/neo4j/neo4j-err
stdout_logfile={{log_home}}/neo4j/neo4j-out

